#pagespeed {
    color: #474747;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

#pagespeed .logo {
    margin: 20px 0;
}

#pagespeed .result_green {
    color: #009A2D;
}

#pagespeed .result_orange {
    color: #FDA100;
}

#pagespeed .result_red {
    color: #DD4B39;
}

#pagespeed div.box {
    background-color: #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
}

#pagespeed .url {
    font-style: italic;
}

#pagespeed .list_domain {
    font-weight: bold;
}

#pagespeed .list_subdomain {
}

#pagespeed .tools-item {
    margin-top: 25px;
}

@media (min-width:768px) {
    #pagespeed .tools-list .tools-item {
        width:32%
    }
}

#pagespeed a.tool-block {
    margin-right: 10px;
}

#pagespeed .tool-icon img {
    height: 32px;
    width: 32px;
}

#pagespeed .small {
    font-size: 80%;
}

#pagespeed .logo-product > img {
    height: 50px;
}

#pagespeed span.description-extension {
    margin: 0 0 30px;
    display: inline-block;
}


#pagespeed span.logo-product-apache {
    display: inline-block;
    float: left;
    width: 330px;
}

#pagespeed .description-product {
    display: inline-block;
    font-size: 11px;
    margin: 10px 0 20px;
}

#pagespeed .description-restore {
    display: inline-block;
    margin: 40px 0 0;
}

#pagespeed .product-installed-apache {
    font-weight: bold;
    display: inline-block;
    margin-top: 25px;
    margin-left: 0px;
}

#pagespeed div#apache-form-row {
    margin-left: 30px;
    display: inline-block;
}

#pagespeed h3 {
    margin: 30px 0 20px;
}

#pagespeed p {
    margin: 20px 0;
}